.product-container {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.side-panel {
  flex: 1;
}

.main-panel {
  flex: 4;
}

@media screen and (max-width: 720px) {
  .product-container {
    flex-direction: column;
  }
}
