.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.main {
  flex: 1 0 auto;
}

.container {
  background-color: #ffffff;
}
